# Зависимости (самое важное!)
node_modules/
users-service/node_modules/
orders-service/node_modules/

# Файлы с паролями
.env
users-service/.env
orders-service/.env

# Скомпилированные файлы (если в будущем будешь билдить TS в JS)
dist/
build/

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.ts-node/

# Системные файлы (особенно если ты на Mac или Windows)
.DS_Store
Thumbs.db